* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

/* Classes auxiliares */
#container {
  background: linear-gradient(to bottom, #fdfefe, #eaedf4, #d4d9e8);
  margin: 0 auto;
  min-width: 1400px;
  max-width: auto;
}

header#topo {
  position: relative;
  z-index: 0;
  background: linear-gradient(to bottom, #4d68a1, #3c5a99, #3b5998);
  min-height: 83px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.404);
}

.clear {
  clear: both;
}

/* header-logo*/
#header-logo {
  position: absolute;
  top: 25px;
  left: 180px;
  z-index: 1;
}

#header-logo a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  color: white;
}

/* header-login */
#header-login {
  position: absolute;
  top: 8px;
  right: 230px;
  z-index: 1;
}

.header-login-box {
  display: inline-block;
  margin-right: 8px;
}

.header-login-box label {
  color: white;
  font-size: 0.75em;
}

.header-login-box input {
  margin-top: 5px;
  height: 22px;
  width: 150px;
  border: 1px solid rgba(0, 0, 0, 0.822);
}

.header-login-box input[type='submit'] {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.336);
  border-radius: 2px;
  height: 24px;
  width: 49px;
  cursor: pointer;
  color: white;
  background-color: #4267b2;
}

.header-login-box input[type='submit']:hover {
  background: #365899;
}

.header-login-box input[type='submit']:active {
  background: #29487d;
  border: none;
}

#header-login a {
  font-size: 0.8em;
  margin-left: 168px;
  color: #9cb4d8;
}

#header-login a:hover {
  text-decoration: underline;
}

/* Área principal */
#main-container {
  position: relative;
  min-height: 600px;
}

#main-area {
  position: absolute;
  top: 40px;
  left: 180px;
  width: 537px;
}

#main-area h2 {
  color: #0e385f;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1.3em;
}

/* Área lateral */
#registration-area {
  position: absolute;
  top: 20px;
  right: 210px;
  width: 430px;
}

#registration-area #registration-area-form {
  margin-left: 3px;
}

#registration-area h1 {
  color: #333333;
  font-size: 2.3em;
  font-weight: bold;
  margin-bottom: 15px;
}

#registration-area p {
  color: #333333;
  font-size: 1.2em;
  margin-bottom: 20px;
}

#registration-area input[type='text'],
#registration-area input[type='new-password'] {
  font-size: 18px;
  height: 20px;
  width: 175px;
  border: 1px solid;
  border-color: #bdc7d8;
  border-radius: 5px;
  padding: 8px 10px;
  margin: 4px 4px 4px 0px;
}

#registration-area input[id='email'],
#registration-area input[id='new-password'] {
  width: 380px;
}

#date p,
#gender p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 20px 0px 8px 0px;
  color: #90949c;
  font-size: 1em;
}

select {
  font-size: 13px;
  padding: 5px;
  border: 1px solid #ccd0d5;
}

select#day {
  width: 55px;
}

select#month,
select#year {
  width: 65px;
}

#gender .gender {
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  color: #1d2129;
  padding: 0px 10px 0px 3px;
}

#gender input[type='radio'] {
  margin: 0px 5px;
}

#politics p {
  line-height: 1.3em;
  margin-top: 30px;
  font-size: 0.7em;
  color: rgb(116, 114, 114);
}

#politics p a {
  color: #2a4888;
}

#politics p a:hover {
  text-decoration: underline;
}

button {
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  box-shadow: inset 0 1px 1px #a4e388;
  border-radius: 5px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 19px;
  cursor: pointer;
  color: white;
  margin-top: 5px;
  width: 194px;
  height: 39px;
  border: 1px solid;
  border-color: #3b6e22 #3b6e22 #2e5115;
}

button:hover {
  background: linear-gradient(#79bc64, #578843);
}

#create-page p {
  margin-top: 40px;
  font-size: 0.8em;
  font-weight: bold;
  color: rgba(83, 82, 82, 0.685);
}

#create-page a {
  color: #2a4888cc;
}

#create-page a:hover {
  text-decoration: underline;
}

/* footer */

footer {
  background: white;
  font-size: 0.75em;
}

#footer {
  padding-top: 10px;
  margin: 0 auto;
  width: 990px;
  background-color: white;
}

#languages {
  margin: 10px 0px;
  border-bottom: 1px solid rgb(200, 196, 196);
  padding-bottom: 10px;
}

#languages span {
  color: gray;
  margin-right: 5px;
}

#languages a {
  margin-right: 5px;
  color: #0737a0cc;
}

#languages a:hover {
  text-decoration: underline;
}

#bottom {
  margin-bottom: 15px;
}

#bottom a {
  margin: 0px 15px 6px 0px;
  color: #0737a0cc;
  display: inline-block;
}

#bottom a:hover {
  text-decoration: underline;
}

#copy p {
  font-weight: bold;
  color: gray;
  margin-bottom: 20px;
}
